server:
  port: 8081
  error:
    include-message: always
    include-binding-errors: always
    include-exception: false
    include-stacktrace: never

spring:
  profiles:
    active: dev
  datasource:
    url: jdbc:mysql://localhost:3307/tutor_system?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC&useUnicode=true&characterEncoding=UTF-8
    username: root
    password: admin123
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
      show-sql: true
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
app:
  jwt:
    secret: change-this-to-a-long-random-string-change-me-1234567890
    expiration: 3600000